@import "node_modules/bootstrap/scss/mixins";

$link-color: #34495e;

.x-link-only-hover {
  @include hover {
    text-decoration: none;
    transition: box-shadow 0.33s ease-out;
    box-shadow: 0 1px 0 0 currentColor;
  }
}

.content-block {
  height: max-content;
  padding: 2rem 0;
}

.bg-custom--grey {
  background-color: #ebeef1;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav {
  align-items: flex-end;
}

.navbar-brand__text {
  color: blue;
}

@import '~bootstrap/scss/bootstrap';
